body{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1 {
    font-size: 50px;
}

li a {
    color: blue;
}

li a:hover {
    color: red;
}

input {
    background-color: black;
    color: white;
}

a {
    color: blue;
}

a:hover {
    color: red;
}